* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e;
    color: white;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #151515;
    padding: 20px;
    overflow-x: hidden;
    z-index: 1000;
}

.sidebar .logo {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.menu {
    color: #585858;
    text-decoration: none;
    font-size: 21px;
    display: flex;
    margin-top: 10px;
}

.menu:hover{
    color: rgb(168, 168, 168);
}

.menu.active {
    color: white;
}

.container {
    margin-left: 16%;
    padding: 10px;
}

.recipe-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-content img {
    width: 50%;
    border-radius: 15px;
}

.recipe-details {
    width: 45%;
}

.recipe-details h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #727272;
}

.recipe-details ul,
.recipe-details ol {
    display: flex;
    margin-left: 0px;
}

.recipe-details ol li,
.recipe-details ol li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #727272;
}
.recipe-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    padding: 20px;
    background-color: #333;
    border-radius: 15px;
    align-items: stretch;
}

.image-and-ingredients {
    width: 45%;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.image-and-ingredients img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.ingredients {
    width: 45%;
    text-align: left;
}

.ingredients h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 400;
}

.ingredients ol {
    padding-left: 20px;
}

.ingredients ol li {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 520;
    color: #585858;
}

.instructions {
    width: 45%;
    background-color: #1a1a1a; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.instructions h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
    font-weight: 400;
}

.instructions ol {
    margin-left: 20px;
}

.instructions ol li {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 520;
    color: #585858;
}